.uploadPostContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 80px 80px;
    margin-bottom: 0;
}
.uploadPostInnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.enterPostText {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;
}
.enterPostText input {
    width: 100%;
    border: 1px solid var(--bg-2);
    padding: 12px;
    border-radius: 12px;
    background: var(--bg-1);
    font-family: var(--main-font);
}
.enterPostText input:focus {
    outline: none;
    font-weight: 700;
}
.enterPostText textarea {
    width: 100%;
    border: 1px solid var(--bg-2);
    resize: none;
    height: 80px;
    padding: 12px;
    border-radius: 12px;
    background: var(--bg-1);
    font-family: var(--main-font);
}
.enterPostText textarea:focus {
    outline: none;
    font-weight: 700;
}
.uploadPostContainer button {
    width: 150px;
    padding: 10px 20px;
    margin: auto;
    border: 0;
    background: var(--highlight-1);
    color: var(--white);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}
.uploadPostContainer button:hover {
    background: var(--highlight-2);
}
.fileUploadIcon {
    color: var(--highlight-1);
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.3s;
}
.fileUploadIcon:hover {
    color: var(--highlight-2);
}
.closeIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
