.filterContent {
	padding: 32px;
	border-radius: 12px;
	background: var(--white);
	margin: 32px 32px 12px 32px;
	margin-top: 84px;
	max-height: 100%;
}
.filterItem {
	width: 14rem;
	padding: 12px 18px;
	margin: 18px 18px 18px 0;
	cursor: pointer;
	transition: 0.3s;
}
.filterItem:hover {
	background: var(--bg-2);
}
.activeFilter {
	border-left: 2px solid var(--highlight-1);
	color: var(--highlight-1);
}
