.commentContainer {
	margin-bottom: 24px;
	padding-bottom: 12px;
	border-bottom: 1px solid var(--bg-2);
}
.commentorHead {
	display: flex;
	align-items: center;
	gap: 12px;
}
.commentText {
	font-size: 14px;
	margin-left: 54px;
	color: var(--text-3);
	margin-bottom: 24px;
}
.commentInteract {
	display: flex;
	gap: 18px;
    align-items: center;
}
.commentLikeCount {
	font-size: 14px;
	color: var(--text-2);
}
