.commentsContainer {
    margin-top: 20px;
}
.commentContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}
.commentorHead {
    display: flex;
    flex-direction: column;
}
.commentText {
    font-size: 14px;
    color: var(--text-3);
}
.commentInteract {
    display: flex;
    gap: 18px;
    align-items: center;
}
.commentLikeCount {
    font-size: 14px;
    color: var(--text-2);
}
