.searchBarContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}
.searchField {
    padding: 8px;
    border: 0;
    border-radius: 12px;
    width: 240px;
    font-family: var(--main-font);
    background: var(--bg-1);
    color: var(--text-1);
}
.searchField:focus {
    outline: none;
}
.searchBtn {
    padding: 5px 8px;
    border: 0;
    background: var(--btn-bg-1);
    border-radius: 12px;
    cursor: pointer;
}
.searchBtn:hover {
    background: var(--btn-bg-2);
}
.searchBtnIcon {
    width: 20px;
    height: 20px;
    color: var(--btn-text);
}
.searchedUsers {
    background: var(--white);
    position: absolute;
    padding: 16px 8px;
    border-radius: 12px;
    width: 240px;
    max-height: 200px;
    overflow-y: auto;
    transform: translate(0, 6%);
}
.userInSearch {
    display: flex;
    gap: 32px;
    margin-bottom: 12px;
    align-items: center;
    transition: 0.3s;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
}
.userInSearch:hover {
    background: var(--bg-2);
}
